* {
    box-sizing: border-box;
}

.navbar-btn {
    width: 33.33%;
    height: 40px;
    padding: 0px;
    margin: 0px;

    float: left;
    background: black;
    color: white;

}

.navbarContainer {
    padding: 0px;
    width: 100vw;
}

#canvas {
    height: calc(100vh - 25px);
    width: 100vw;
}

.hidden {
    display: none;
}

body,
html {
    position: fixed;
}

.row {
    width: 100vw;
}

.mainView {
    padding-left: 0px;
    padding-right:0px;
}